<div class="footer">
  <div class="footerElement">
    <p>WORKING HOURS
      <br/>
      <br/>
      Consulate General:
      <br/>
      Monday to Friday
      from 09:00 to 17:00.
      <br/><br/>
      Working with clients:
      <br/>
      Every working day from 09:00 to 14:00.
      <br/><br/>
      Providing consular information:
      <br/>
      Every working day from 14:00 to 15:00.
      <br/><br/>
      Appointments are not scheduled.</p>
  </div>
  <div class="footerElement">
    <p>
      CONTACT
      <br/><br/>
      Phone:
      <br/>
      +49 69 907 486 40
      <br/><br/>
      Fax:
      <br/>
      +49 69 907 486 427
      <br/><br/>
      Passport information:
      <br/>
      +49 69 907 486 43
      <br/><br/>
      Citizenship information:
      <br/>
      +49 69 907 486 45
      <br/><br/>
      E-mail address:
      <br/>
      konzulat@bih.ba
    </p>

  </div>
  <div class="footerElement">
    <p>
      ADDRESS
      <br/><br/>
      Consulate General of Bosnia and Herzegovina
      <br/><br/>
      Konzulat 12
      <br/>
      12345 Adresa
    </p>
  </div>
</div>
