<app-home-menu></app-home-menu>

<h1 class="title">CONSULATE GENERAL OF BOSNIA AND HERZEGOVINA</h1>
<div class="content">
  <div class="flagImg">
    <img src="assets/images/flag.jpg" >
  </div>

  <div class="aboutContent">
    <h4>CONTACT</h4>
    <p>
      Phone:
      <br/>
      +49 69 907 486 40
      <br/><br/>
      Fax:
      <br/>
      +49 69 907 486 427
      <br/><br/>
      Passport information:
      <br/>
      +49 69 907 486 43
      <br/><br/>
      Citizenship information:
      <br/>
      +49 69 907 486 45
      <br/><br/>
      E-mail address:
      <br/>
      konzulat@bih.ba
    </p>
  </div>
</div>

<app-footer></app-footer>
