<h5 class="heading">Articles: </h5>
<br>

<p-carousel [value]="articles"[numVisible]="3" [numScroll]="1">
    <ng-template let-article pTemplate="item">
        <app-news-item [article]="article"></app-news-item>
    </ng-template>
</p-carousel>

<hr>
<div *ngFor="let loopArticle of articles">
    <div *ngIf="loopArticle.title.length > 130">
        <app-news-item [article]="loopArticle"></app-news-item>
    </div>

    <div *ngIf="loopArticle.title.length < 130">
        <strong>SHORT ARTICLE</strong>
        <app-news-item [article]="loopArticle"></app-news-item>
    </div>
</div>

